*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #dfdfdf;
}

#contenedor{
    background-color:#fff;
    border: #d3d3d3 1px solid;
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 1em;
    margin: 10px auto;
    /* el primer dato para top y bottom y el segundo left y right */
    max-width: 900px;
    text-align: justify;
    width: 100%;
}

#encabezado{
    background-color: #337CF3;
    border: #d3d3d3 1px solid;
    height: 150px;
    width: 100%;
}

#encabezado h1{
    margin-top: 50px;
    text-align: center;
}

#contenido{
    border: #d3d3d3 1px solid;
    display: inline-block;
    margin: 20px 10px;
    vertical-align: top;
    width: 70%;
}

#titulo{
    margin: 10px;
    color: #337CF3;
    border-bottom: #d3d3d3 1px solid;
}

#contenido2{
    margin: 10px;
}


#menu{
    display: inline-block;
    list-style-type: none;
    margin: 20px 10px;
    vertical-align: top;
    width: 20%;

}

#menu li{
    border: #d3d3d3 1px solid;
    background-color: #337CF3;
    line-height: 30px;
    margin-bottom: 5px;
    text-align: center;
    
}

#menu a{
    display: block;
    text-decoration: none;
    color: #000;
}